.main {
	&__cards {
		@include grid-base;
		width: 100%;
		grid-template-columns: repeat(3, 33rem);
		gap: 2rem;

		@include breakpoint("laptop", 282){
			grid-template-columns: repeat(2, 50%);
		}

		@include breakpoint("tablet"){
			grid-template-columns: repeat(1, 1fr);
		}
	}
	
	&__card {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: resize(30, 20);
		transition: all 500ms ease 0s;
		transform: translateY(50px);
	}

	&__card:hover{
		transform: translateY(0);
	}

	
	&__card:hover &__card-body{
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
	}

	&__card-box {
		@include flex-column-align-start;
		width: 100%;
		gap: resize(30, 20);
		overflow: hidden;
	}

	&__card-body{
		display: none;
		opacity: 0;
		visibility: hidden;
		transition: all 500ms ease 0s;
		display: flex;
		flex-direction: column;
		gap: resize(30, 20);
		transform: scaleY(0);
	}
	
	
	&__card-img {
		width: 100%;
		height: getHeightOfTheImage(250, 489);
		object-fit: cover;
	}


	&__card-title {
		color: #141414;
		font-family: $default-font-family;
		font-size: resize(26, 16);
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
		text-transform: capitalize;
	}

	
	&__card-description {
		width: 70%;
	}
}
