.main {
	&__cards {
		@include grid-base;
		width: 100%;
		grid-template-columns: repeat(3, 33rem);
		gap: 2rem;

		@include breakpoint("laptop", 282){
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem
		}
	}
	
	&__card {
		@include flex-column-align-start;
		width: 100%;
		gap: resize(30, 20);
		transition: all 500ms ease 0s;
		border-radius: .6rem;
		@include breakpoint("laptop", 282){
			background-color: #ebf3f5
		}
	}

	&__card-box {
		@include flex-column;
		width: 100%;
		gap: resize(30, 20);
		overflow: hidden;
	}

	&__card-body{
		transition: all 500ms ease 0s;
		display: flex;
		flex-direction: column;
		gap: resize(30, 20);
		@include breakpoint("laptop", 282){
			padding: 0 2rem;
			padding-bottom: 1.5rem;
		}
	}
	
	
	&__card-img {
		width: 100%;
		height: getHeightOfTheImage(250, 489);
		object-fit: cover;
		border-radius: .6rem;
	}


	&__card-title {
		color: #141414;
		font-family: $default-font-family;
		font-size: resize(26, 16);
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
		text-transform: capitalize;
		@include breakpoint("laptop", 282){
			padding: 0 2rem;
		}
	}

	
	&__card-description {
		width: 70%;
	}
}
