.navigation-button {
	background-color: transparent;
	font-family: $default-font-family;
	font-weight: 700;
	color: #000;
	width: max-content;
	cursor: pointer;
}

.button {
	background-color: #5c757c;
	padding: 1.6rem 3.3rem;
	text-transform: capitalize;
	height: 5rem;
	width: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;

	@include breakpoint("laptop") {
		background-color: #9bc7d379;
	}
}


.button-flexed {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	color: #fff;
	text-transform: uppercase;

	@include breakpoint("laptop", 315){
		font-size: 1rem;
	}
}


.button-outlined{
	background-color: transparent;
	border: .2rem solid #5c757c;
}
